<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>add books and review</title>
</head>
<body>
    <h1>add a new Book and Reviews: </h1>
    <a href="">Home</a>
    <a href="">logout</a>
    {% if messages %}
    {% for message in messages%}
    <li>{{ message }}</li>
    {% endfor %}
    {% endif %}
    <form action="/books/add/process" method="POST">
        {% csrf_token %}
        <label for="book_title">book title:</label>
        <input type="text" name="book_title">


        <h2>Author</h2>
        <label>Choose from the list</label>
        <select name="author_drop">
            <option value="NA">N/A</option>
        {% if authors %}
        {% for author in authors %}
            <option value={{author.name}}>{{author.name}}</option>
        {% endfor %}
        {% endif %}
        </select>
        <label>add a new author</label>
        <input type="text" name="author_add">


        <h2>Reviews</h2>
        <input type="text" name="review">
        <label>Rating</label>
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <input type="submit" value="add books and reviews">
    </form>
    
</body>
</html>