<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>book home</title>
</head>
<body>
    <h1>Welcome {{user.alias}}</h1>
    <h3>Recent book reviews:</h3>
    <a href="">add book and review</a>
    <a href="">logout</a>

    <div>
        <li>
            <h3>books:{{book.title}}</h3>
            <span> Rating:</span>
            <p>{{user.name}} say: {{user.books.review}}</p>
            <p>posted at {{review.created_at}}</p>
        </li>
        <li>
            <h3>books:{{book.title}}</h3>
            <span> Rating:</span>
            <p>{{user.name}} say: {{user.books.review}}</p>
            <p>posted at {{review.created_at}}</p>
        </li>
        <li>
            <h3>books:{{book.title}}</h3>
            <span> Rating:</span>
            <p>{{user.name}} say: {{user.books.review}}</p>
            <p>posted at {{review.created_at}}</p>
        </li>
    </div>

    <div>
        <h1>Other books with reviews</h1>
        <a href=""></a>
        <a href=""></a>
    </div>
    
</body>
</html>