<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Reviews</title>
</head>
<body>
    <a href="">home</a>
    <a href="">add Book and Review</a>
    <a href="">Logout</a>
    <h1>user alias: {{user.alias}}</h1>
    <h3>user name: {{user.name}}</h3>
    <h3>user email: {{user.email}}</h3>
    <h3>Total reviews: </h3>
    <h1>posted review on the following books</h1>
    <a href=""></a>
    <a href=""></a>
</body>
</html>