<html>
<head>
  <title>Friends</title>
</head>
<body>
    <h1>{{ all_display }}</h1>
    <h2>we are gonna to display them all</h2>

    <p>{{ all_display }}</p>
    {% for display in all_display %}
    <p>ID: {{ display["id"] }}</p>
    <p>first_name: {{display["first_name"] }}</p>
    <p>last_name: {{display["last_name"] }}</p>
    <p>occupation: {{display["occupation"] }}</p>
    <hr>
    {% endfor %}
    <form action='/friends' method='POST'>
        <label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label>
        <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label>
        <label for="occupation">Occupation:<input type="text" name="occupation" id="occupation"></label>
        <input type="submit" value="Add">
    </form>
</body>
</html>