*{
    margin: 00px;
    padding: 00px;
}
@media only screen and (max-width: 5000px)
{
#head{
    height: 20%;
    width: 95%;
    margin: 1%;
    background-color: #b3b3b3;
}
#content{
    height: 60%;
    width: 95%;
    margin: 1%;
    background-color: #cccccc;
}
#last{
    height: 13%;
    width: 95%;
    margin: 1%;
    background-color: #ff9;
}

}