<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}
    <link rel="stylesheet" href=" {% static 'time_display/css/main.css' %}">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>
            display current time and date:
        </h1>
        <div class="line">{{ time }}</div>
    </center>
    
</body>
</html>