p{
    color: brown;
    font-family: 
}
#apple{
    color:yellow;
    font-size: 16px;
    width: 52%;
    height: 200px;
    border: 1px solid rgb(111, 111, 222)
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
}
.banana{
    color:blue;
    width:45%;
    font-style: italic;
    overflow: scroll;
    border: 5px groove rgb(35, 45, 22)
}
span {
    color:black;
}
h1{
    color:green;
    text-align:center;
    text-decoration: none;
}
h1 span{
    font-weight:blod;
    color: blue;
}